In [25]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [5]:
df_train = pd.read_csv('SalaryData_Train.csv')

In [6]:
df_test = pd.read_csv('SalaryData_Test.csv')

In [7]:
df_train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [8]:
df_train.drop(labels=['maritalstatus','relationship','race'],axis=1,inplace=True)

In [9]:
df_test.drop(labels=['maritalstatus','relationship','race'],axis=1,inplace=True)

In [10]:
df_train.head()

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 11 columns]

In [11]:
df_test.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 11 columns]

In [12]:
inputs = df_train.drop(labels='Salary',axis=1)

In [13]:
target = df_train['Salary']

In [14]:
inputs_test = df_test.drop(labels='Salary',axis=1)

In [15]:
target_test = df_test['Salary']

In [16]:
dummies = pd.get_dummies(data =inputs ,columns= ['workclass','education','occupation','sex','native'])
dummies.head(3)

   age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0   39           13  ...                0                   0
1   50           13  ...                0                   0
2   38            9  ...                0                   0

[3 rows x 84 columns]

In [17]:
inputs = pd.concat([inputs,dummies],axis=1)

In [18]:
inputs.columns

Index(['age', 'workclass', 'education', 'educationno', 'occupation', 'sex',
       'capitalgain', 'capitalloss', 'hoursperweek', 'native', 'age',
       'educationno', 'capitalgain', 'capitalloss', 'hoursperweek',
       'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th',
       'education_ 11th', 'education_ 12th', 'education_ 1st-4th',
       'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th',
       'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors',
       'education_ Doctorate', 'education_ HS-grad', 'education_ Masters',
       'education_ Preschool', 'education_ Prof-school',
       'education_ Some-college', 'occupation_ Adm-clerical',
       'occupation_ Armed-Forces', 'occupation_ Craft-repair',
       'occupation_ Exec-managerial', 'occupation_ Farming-fishing',
       'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct',
       'occupation_ Other-service', 'occupation_ Priv-house-serv',
       'occupation_ Prof-specialty', 'occupation_ Protective-serv',
       'occupation_ Sales', 'occupation_ Tech-support',
       'occupation_ Transport-moving', 'sex_ Female', 'sex_ Male',
       'native_ Cambodia', 'native_ Canada', 'native_ China',
       'native_ Columbia', 'native_ Cuba', 'native_ Dominican-Republic',
       'native_ Ecuador', 'native_ El-Salvador', 'native_ England',
       'native_ France', 'native_ Germany', 'native_ Greece',
       'native_ Guatemala', 'native_ Haiti', 'native_ Honduras',
       'native_ Hong', 'native_ Hungary', 'native_ India', 'native_ Iran',
       'native_ Ireland', 'native_ Italy', 'native_ Jamaica', 'native_ Japan',
       'native_ Laos', 'native_ Mexico', 'native_ Nicaragua',
       'native_ Outlying-US(Guam-USVI-etc)', 'native_ Peru',
       'native_ Philippines', 'native_ Poland', 'native_ Portugal',
       'native_ Puerto-Rico', 'native_ Scotland', 'native_ South',
       'native_ Taiwan', 'native_ Thailand', 'native_ Trinadad&Tobago',
       'native_ United-States', 'native_ Vietnam', 'native_ Yugoslavia'],
      dtype='object')

In [19]:
inputs.drop(columns=['workclass','education','occupation','sex','native','workclass_ Federal-gov','education_ 10th',
                     'occupation_ Armed-Forces','sex_ Female','native_ Cambodia'],axis=1,inplace=True)

In [20]:
inputs.isna().sum()

age                        0
educationno                0
capitalgain                0
capitalloss                0
hoursperweek               0
                          ..
native_ Thailand           0
native_ Trinadad&Tobago    0
native_ United-States      0
native_ Vietnam            0
native_ Yugoslavia         0
Length: 84, dtype: int64

In [21]:
dummies_test = pd.get_dummies(data =inputs_test ,columns= ['workclass','education','occupation','sex','native'])
dummies_test.head(3)

   age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0   25            7  ...                0                   0
1   38            9  ...                0                   0
2   28           12  ...                0                   0

[3 rows x 84 columns]

In [22]:
inputs_test = pd.concat([inputs_test,dummies_test],axis=1)

In [23]:
inputs_test.drop(columns=['workclass','education','occupation','sex','native','workclass_ Federal-gov','education_ 10th',
                     'occupation_ Armed-Forces','sex_ Female','native_ Cambodia'],axis=1,inplace=True)

In [24]:
inputs_test.isna().sum()

age                        0
educationno                0
capitalgain                0
capitalloss                0
hoursperweek               0
                          ..
native_ Thailand           0
native_ Trinadad&Tobago    0
native_ United-States      0
native_ Vietnam            0
native_ Yugoslavia         0
Length: 84, dtype: int64

In [26]:
model = GaussianNB()

In [27]:
model.fit(inputs,target)

GaussianNB()

In [28]:
model.score(inputs_test,target_test)

0.801726427622842

In [29]:
model.score(inputs,target)

0.8031563940187659

In [30]:
inputs_test[0:10]

   age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0   25            7  ...                0                   0
1   38            9  ...                0                   0
2   28           12  ...                0                   0
3   44           10  ...                0                   0
4   34            6  ...                0                   0
5   63           15  ...                0                   0
6   24           10  ...                0                   0
7   55            4  ...                0                   0
8   65            9  ...                0                   0
9   36           13  ...                0                   0

[10 rows x 84 columns]

In [31]:
target_test[0:10]

0     <=50K
1     <=50K
2      >50K
3      >50K
4     <=50K
5      >50K
6     <=50K
7     <=50K
8      >50K
9     <=50K
Name: Salary, dtype: object

In [32]:
model.predict(inputs_test[0:10])

array([' <=50K', ' <=50K', ' <=50K', ' >50K', ' <=50K', ' >50K', ' <=50K',
       ' <=50K', ' >50K', ' <=50K'], dtype='<U6')

In [33]:
model.predict_proba(inputs_test[:10])

array([[9.99999969e-01, 3.13978610e-08],
       [9.99960658e-01, 3.93415475e-05],
       [9.97428374e-01, 2.57162573e-03],
       [9.76365806e-25, 1.00000000e+00],
       [9.99999956e-01, 4.43613049e-08],
       [5.59974256e-06, 9.99994400e-01],
       [9.99999950e-01, 4.95924139e-08],
       [9.99999987e-01, 1.26380261e-08],
       [1.32637826e-15, 1.00000000e+00],
       [9.96273921e-01, 3.72607943e-03]])

In [34]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),inputs, target, cv=5)

array([0.79811039, 0.80255305, 0.8058687 , 0.79990053, 0.80901857])